{% for passwordchosen in passwordchosen %}
    <link rel="stylesheet" href="{{ url_for('static', filename='passwordgenerator.css') }}">
    <form method="post" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="alert" id="passwordcopyied"></div>
        <div class="form-group row">
            <h1>{{ passwordchosen['titlename'] }}</h1>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Password Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="titlename" name="titlename"
                       value="{{ passwordchosen['titlename'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Website</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="website" name="website"
                       value="{{ passwordchosen['website'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Username</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="username" name="username"
                       value="{{ passwordchosen['username'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
                <div class="input-group" id="show_hide_password">
                    <input class="form-control" id="password" name="password" type="text"
                           value="{{ passworddec2 }}">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
            </div>
        </div>
        <div id="togglepasswordid">
        </div>
        <div class="form-group row">
            <label for="input" class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
                <select id="category" class="minimal form-control passwordedit" name="category">
                    {% for categories2 in categories2 %}
                        <option selected="selected"
                                value={{ categories2['id'] }}>{{ categories2['categoryName'] }}</option>
                    {% endfor %}
                    {% for category2 in categoryforms2 %}
                        <option value={{ category2['id'] }}>{{ category2['categoryName'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="createdDate" class="col-sm-4 col-form-label">Created Date </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="category"
                       value="{{ passwordchosen['created_timestamp'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="createdDate" class="col-sm-4 col-form-label">Last Modified Date </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="category"
                       value="{{ passwordchosen['lastmodified_date'] }}">
            </div>
        </div>

        <div class="form-group row ">
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-target=""
                         formaction="{{ url_for('manager.deletepassword', id=passwordchosen['passwordIDEncrypted']) }}"><i class="fa fa-trash"></i>
                    Delete Password
                </button>
                <button type="reset" class="btn btn-secondary closebutton close"
                        data-dismiss="">
                    Discard Changes
                </button>
                <button type="submit" class="btn btn-primary newbutton" data-target=""
                        formaction="{{ url_for('manager.savepassword', id=passwordchosen['passwordIDEncrypted']) }}">
                    Save
                    changes
                </button>


            </div>
        </div>
    </form>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
{% endfor %}
