{% for passwordchosen in passwordchosen %}
    {% include 'manager/editbutton.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='passwordgenerator.css') }}">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="alert" id="passwordcopyied"></div>
        <div class="form-group row">
            <h1>{{ passwordchosen['titlename'] }}</h1>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Password Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="websitetitle"
                       value="{{ passwordchosen['titlename'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Website</label>
            <div class="col-sm-10">
                <a target="_blank" rel="noopener noreferrer" href="https://{{ passwordchosen['website'] }}">{{ passwordchosen['website'] }}</a>
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="username"
                       value="{{ passwordchosen['username'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <div class="input-group" id="show_hide_password">
                    <input class="form-control-plaintext" id="passwordact" readonly type="password"
                           value="{{ passworddec2 }}">


                    <div class="input-group-addon">
                        <a onclick="passwordclick()" id="showpasswords" class="bd"><i class="fa fa-eye-slash"
                                                                                      aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="category"
                       value="{{ passwordchosen['categoryName'] }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="createdDate" class="col-sm-2 col-form-label">Created Date </label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="category"
                       value="{{ passwordchosen['created_timestamp'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="createdDate" class="col-sm-2 col-form-label">Last Modified Date </label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="category"
                       value="{{ passwordchosen['lastmodified_date'] }}">
            </div>
        </div>
    </form>
{% endfor %}
