<link rel="stylesheet" href="{{ url_for('static', filename='passwordgenerator.css') }}">
<div class="wrapper">
    <div class="inner-wrapper">
        <div class="password-wrapper">
            <div class="password-here" id="password-here">
                CLICK GENERATE
            </div>
            <input id="copy" class="copy" value="Copy" type="button">
            <div class="alert" id="alert"><span class="message" id="message"></span></div>
        </div>
        <p class="instructions">Select your length click the "generate" button. Your password will appear above.</p>
        <div class="controls">
            <div class="control length" id="length-box">
                <label for="length">Password Length</label>
                <input type="range" id="length" min="8" max="20" list="tickmarks">
                <datalist id="tickmarks">
                    <option value="8" label="8"></option>
                    <option value="9"></option>
                    <option value="10"></option>
                    <option value="11"></option>
                    <option value="12" label="12"></option>
                    <option value="13"></option>
                    <option value="14"></option>
                    <option value="15"></option>
                    <option value="16"></option>
                    <option value="17"></option>
                    <option value="18"></option>
                    <option value="19"></option>
                    <option value="20"></option>
                </datalist>
            </div>
            <input type="button" class="generate" id="generate" value="Generate">
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script src="{{ url_for('static', filename='generatepassword.js') }}"></script>
