{% extends 'manager/base.html' %}
{% block choosePassword %}
    {% for password in passwords %}
        <div class="bg-hover-white-smoke w-100 pointer"
             onclick="location.href='{{ url_for('manager.selectPassword', id=password['passwordIDEncrypted']) }}'">
            <div class="clickable-row">
                <h1>{{ password['titlename'] }}</h1>
                <p> {{ password['username'] }}</p>
            </div>
        </div>

    {% endfor %}
{% endblock choosePassword %}

{% block choosenPassword %}
    {% if edit == True %}
        {% include 'manager/chosenpassword.html' %}
    {% else %}
        {% include 'manager/chosenpasswordedit.html' %}
    {% endif %}

{% endblock choosenPassword %}
