#logo {
    height: 30px;
    width: 150px;
}

.carousel-height {
    height: 50%;
}

.headings {
    margin-top: 1em;
}

html {
    height: 100%;
    min-width: 1237px;
}

body {
    min-width: 1237px;
}

.form-signinout {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

}

.body-signinout {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.base-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.flash-error {
    background-color: #FFCCCC;
    margin-bottom: 1em;
    text-align: center;
}

.content {
    padding-top: 3.2em;
}

.category {
    padding: 0;
    list-style: none;
    background-color: lightgrey;
    height: 100%;
    border-radius: 0.5em;
}

.category li, ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.category a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;

}

.sub-title {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em;
}

.category-choose {
    color: grey;

}

.row-custom {
    height: 100%;
}

.search {
    padding: 1em;
    border-bottom: 1px #3c3f41 solid;
    background-color: #eaeaea;
    height: 7%;
    width: 100%;
    margin-bottom: 0;
}

.passwordsearch {
    padding-left: 0;
    padding-right: 0;

}

.filterbutton:hover {
    width: 100%;
    border: none;
    background-color: #f9f9f9;
    color: black;
}

.btn-secondary.dropdown-toggle:focus {
    width: 100%;
    border: none;
    background-color: #f9f9f9;
    color: black;
}


.filterbutton {
    width: 100%;
    background-color: #f9f9f9;
    border: none;
    color: black;

}

.editbutton {
    background-color: #f9f9f9;
    border: none;
    color: black;
}

.editbutton:active {
    background-color: #f9f9f9;
    border: none;
    color: black;
}

.editbutton:focus {
    background-color: #f9f9f9;
    border: none;
    color: black;
}

.editbutton:hover {
    background-color: #f9f9f9;
    border: none;
    color: black;
}

.filtermenu:hover {
    padding-top: 4px;
    padding-bottom: 2px;
    background-color: #f9f9f9;
}

.filtermenu {
    padding-top: 4px;
    padding-bottom: 2px;
    background-color: #f9f9f9;
}

.dropdown-item {
    color: black;
}


.newbutton {
    background-color: #f9f9f9;
    border: none;
    color: black;
    float: right;
}

.newbutton:active {
    background-color: #f9f9f9;
    border: none;
    color: black;
}

.newbutton:focus {
    background-color: #f9f9f9;
    border: none;
    color: black;
}

.newbutton:hover {
    background-color: #f9f9f9;
    border: none;
    color: black;
}

.row.overflow-auto {
    max-height: 88%;
}

::-webkit-scrollbar {
    width: 6px;
}

.choose-password {
    max-width: 100%;
}

.row-choose-password {
    max-width: 100%;
}

::-webkit-scrollbar-track {
    background: #212529;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: #eaeaea;
}

.choose-password-text {
    margin-left: 4em;
}

.choose-password-text h1 {
    text-decoration: black;
    text-emphasis: black;
    font-size: 25px;
    font-family: Cambria;
    font-weight: bold;
    margin-bottom: 1px;
}

.choose-password-text p {
    font-size: 15px;
    font-family: Cambria;
}

.space {
    margin: 1em;
}

div.pass-bar {
    height: 11px;
    margin-top: 2px;
}

div.pass-hint {
    font-family: arial;
    font-size: 11px;
}

.closebutton {
    background-color: #6c757d;
}


.pointer {
    cursor: pointer;
}

/* Optional Styling */

.clickable-row {
    border-bottom: 1px solid #dee2e6;
}

.clickable-row:hover {
    background: #fafafa;
}

a {
    font-size: 1.2rem;
    color: #d60e96;
}

a:hover {
    text-decoration: none;
}


.copy {
    margin-top: -3px;
    position: relative;
    top: 3px;
}

.editbutton {
    margin-top: 0.5em;
    position: absolute;
    right: 1em;
}

#passwordcopyied {
    width: 50%;
    text-align: center;
}


select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
}

.form-group {
    margin-bottom: 0.5em;
}

.editpasswordform {
    border-top: 1px grey solid;
}

.categorynew {
    margin-top: 1em;
    margin-right: 0.5em;
}

.categoryedit {
    align-items: center;
}

.quickheading {
    text-align: center;

}

.headingrow {
    padding: 1em;
    margin: 2em;
}

svg.defs-only {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

.container-error {
    height: 100%;
    width: 100%;
}

.errorpage {
    margin-top: 20em;
    text-align: center;
}