.carousel-height
{
    height: 50%;
}

.headings
{
    margin-top: 1em;
}
html
{
    height: 100%;
}
.form-signinout {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.body-signinout {
  height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.base-footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.flash-error{
    background-color: #FFCCCC;
    margin-bottom: 1em;
    text-align: center;
}